apiVersion: v1
kind: Service
metadata:
  name: simple-backend-service
  labels:
    app: simple-backend
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: simple-backend
  sessionAffinity: None
